<!-- <navbar></navbar> -->

<div class="top-bar cyan">
    <h1>My Budget Calculator</h1>
  </div>
<br>
  <section class="total-budget-section">
    <h3 class="text-center">Total amount:R 1500</h3>
  </section>

<section class="add-item-section">
    <div class="add-item-container">
     <!-- Default form  -->
     <div class="container">
    <form class="text-center border border-light p-5  ">

      <div class="form-row mb-4 ">
        <div class="col">
          <!-- Amount -->
          <input type="number" style="width: 100px" id="defaultFormAmount" class="form-control" placeholder="Amount">
        </div>
        <div class="col">
          <!-- Description -->
          <input type="text" style="width: 460px" id="defaultFormDescription" class="form-control" placeholder="Description">
        </div>
        
      </div>

      <!-- Add button -->
      <button mdbBtn color="info" block="true" class="my-4 btn-md" type="submit">Add</button>
    </form>
  </div>
    <!-- Default form --> 
    </div>

</section>
<hr>
<section class="item-section">
  <div class="item-container">

    <div class="income-column">
        <div class="row">
            <div class="col" style="width:100px;">

              <mdb-card >
                  <!--Card content-->
                  <mdb-card-body>
                
                    <!--Title-->
                    <mdb-card-title>
                      <h4>Income</h4>
                    </mdb-card-title>
                
                    <!--Text-->
                    <mdb-card-text [ngClass]="{'income': isIncome}"> Some quick example text to build on the card title and make up the bulk of the card's
                      content.
                    </mdb-card-text>
                  </mdb-card-body>
                </mdb-card>


            </div>
            <div class="col" style="width:100px;">

              <mdb-card>
                  <!--Card content-->
                  <mdb-card-body>
                
                    <!--Title-->
                    <mdb-card-title>
                      <h4>Expense</h4>
                    </mdb-card-title>
                
                    <!--Text-->
                    <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
                      content.
                    </mdb-card-text>
                  </mdb-card-body>
                </mdb-card>
            </div>
          </div>

    </div>
  </div>


</section>

